<a href="<%= root_path %>" class="item">
    <%= semantic_icon('pie graph') %>
    <br>
    Dashboard
</a>

<a href="<%= accounts_path %>" class="item">
    <%= semantic_icon('briefcase') %>
    Accounts
</a>

<a href="<%= categories_path %>" class="item">
    <%= semantic_icon('tasks') %>
    Categories
</a>

<a href="<%= edit_user_registration_path %>" class="item">
    <%= semantic_icon('settings') %>
    User Settings
</a>

<a href="<%= destroy_user_session_path %>" data-method="delete" class="item">
    <%= semantic_icon('sign out alternate') %>
    Log Out
</a>

